<html>
<head>
    <title>Create a New Recipe</title>
</head>
<body>
    <form action="/recipes" method="post">
        <input type="text" name="name" id="name" placeholder="Recipe Name">
        <input type="text" name="ingredients" id="ingredients" placeholder="Ingredients">
        <input type="text" name="cook_time" id="cook_time" placeholder="Cook Time">
        <input type="submit" value="Create" id="submit">
    </form>
</body>
</html>